*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#000;
    color:white;
    overflow:hidden;
}

.screen{
    width:100vw;
    height:100vh;
    display:none;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    padding:30px;
}

.screen.active{
    display:flex;
    animation:fade .8s ease;
}

/* ------------------------- */
/* NETFLIX INTRO */
/* ------------------------- */

#netflixIntro{
    background:black;
}

.netflix-logo{
    font-size:11rem;
    color:#E50914;
    font-weight:bold;
    animation:pulse 2s infinite;
}

.loading-text{
    margin-top:20px;
    color:#bdbdbd;
    letter-spacing:2px;
}

/* ------------------------- */
/* WELCOME */
/* ------------------------- */

#welcomeScreen{
    background:
    radial-gradient(circle at top,#2a2a2a,#000 70%);
}

.welcome-box{
    max-width:600px;
}

.welcome-box h1{
    font-size:3.3rem;
    margin-bottom:20px;
}

.welcome-box p{
    font-size:1.15rem;
    color:#d4d4d4;
    line-height:1.8;
    margin-bottom:40px;
}

/* ------------------------- */
/* BUTTON */
/* ------------------------- */

button{
    background:#E50914;
    color:white;
    border:none;
    padding:16px 42px;
    border-radius:10px;
    font-size:1rem;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
    background:#ff2935;
}

/* ------------------------- */
/* THEME PAGE */
/* ------------------------- */

#themeScreen{
    background:
    linear-gradient(160deg,#090909,#111,#050505);
}

.theme-container{
    width:min(1100px,100%);
}

.theme-container h1{
    font-size:3rem;
    margin-bottom:15px;
}

.theme-container>p{
    color:#c8c8c8;
    margin-bottom:50px;
}

.theme-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.theme-card{

    background:#171717;

    border:2px solid transparent;

    border-radius:18px;

    padding:35px 25px;

    cursor:pointer;

    transition:.35s;

    min-height:240px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;
}

.theme-card:hover{

    transform:translateY(-8px) scale(1.03);

    border-color:#E50914;

    background:#222;

    box-shadow:0 20px 50px rgba(229,9,20,.25);

}

.emoji{

    font-size:4rem;

    margin-bottom:20px;

}

.theme-card h2{

    margin-bottom:15px;

}

.theme-card p{

    color:#bdbdbd;

    line-height:1.6;

}

/* ------------------------- */

@keyframes pulse{

0%{
transform:scale(.85);
opacity:.5;
}

50%{
transform:scale(1);
opacity:1;
}

100%{
transform:scale(.85);
opacity:.5;
}

}

@keyframes fade{

from{

opacity:0;
transform:scale(.98);

}

to{

opacity:1;
transform:scale(1);

}

}

@media(max-width:700px){

.netflix-logo{
font-size:8rem;
}

.welcome-box h1{
font-size:2.4rem;
}

.theme-container h1{
font-size:2.3rem;
}

}
